In [21]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

#import CSV
disaster_data = "Resources/All USA Disasters.csv"
average_temp_year = "Resources/average_temp_by_year.csv"

In [22]:
#Read CSV
disaster_df = pd.read_csv(disaster_data)
average_temp_year = pd.read_csv(average_temp_year)

In [47]:
#Convert to DataFrame

total_disaster_cost = disaster_df[["Year","Drought Cost","Flooding Cost","Freeze Cost","Severe Storm Cost","Tropical Cyclone Cost","Wildfire Cost","Winter Storm Cost","All Disasters Cost"]]
total_disaster_cost

avg_temp_by_year = average_temp_year[["Year", "Yearly Average"]]

avg_temp_by_year_cleaned = avg_temp_by_year.drop(avg_temp_by_year.index[0:100])
avg_temp_by_year_cleaned
average_temperature_by_year_df = avg_temp_by_year_cleaned.set_index('Year')
average_temperature_by_year_df

      Yearly Average
Year
1980            0.26
1981            0.32
1982            0.14
1983            0.31
1984            0.16
1985            0.12
1986            0.18
1987            0.32
1988            0.39
1989            0.27
1990            0.45
1991            0.41
1992            0.22
1993            0.23
1994            0.32
1995            0.45
1996            0.33
1997            0.46
1998            0.61
1999            0.38
2000            0.40
2001            0.54
2002            0.63
2003            0.62
2004            0.54
2005            0.68
2006            0.64
2007            0.67
2008            0.55
2009            0.66
2010            0.73
2011            0.61
2012            0.65
2013            0.68
2014            0.75
2015            0.90
2016            1.02
2017            0.93
2018            0.85
2019            0.99
2020            1.02

In [20]:
average_temp_by_year

NameError: name 'average_temp_by_year' is not defined