In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

#import CSV
disaster_data = "Resources/All USA Disasters.csv"
average_temp_year = "Resources/average_temp_by_year.csv"
sea_level_rise = "Resources/sea_rise.csv"

In [6]:
#Read CSV
disaster_df = pd.read_csv(disaster_data)
average_temp_year = pd.read_csv(average_temp_year)
sea_level_rise_df = pd.read_csv(sea_level_rise)

In [34]:
#Convert to DataFrame

total_disaster_cost = disaster_df[["Year","Drought Cost","Flooding Cost","Freeze Cost","Severe Storm Cost","Tropical Cyclone Cost","Wildfire Cost","Winter Storm Cost","All Disasters Cost"]]

#DataFrame for Total Disaster Costs by Year
total_disaster_cost

avg_temp_by_year = average_temp_year[["Year", "Yearly Average"]]

avg_temp_by_year_cleaned = avg_temp_by_year.drop(avg_temp_by_year.index[0:100])
avg_temp_by_year_cleaned
average_temperature_by_year_df = avg_temp_by_year_cleaned.set_index('Year')

#Dataframe for Yearly Temp Changes (Difference from Mean)
average_temperature_by_year_df

#DataFrame for Sea Level Rise (Inches)
sea_level_rise_cleaned1 = sea_level_rise_df.drop(avg_temp_by_year.index[0:100])
sea_level_rise_cleaned2 = sea_level_rise_cleaned1.drop(avg_temp_by_year.index[134:136])


sea_level_rise_cleaned2[["Year", "CSIRO - Adjusted sea level (inches)"]]
sea_level_rise_cleaned2['Year'] = sea_level_rise_cleaned2['Year'].map("{:.0f}".format)
sea_level_rise_cleaned2['CSIRO - Adjusted sea level (inches)'] = sea_level_rise_cleaned2['CSIRO - Adjusted sea level (inches)'].map("{:.2f}".format)
sea_level_rise_cleaned2[["Year", "CSIRO - Adjusted sea level (inches)"]]
sea_level_rise_cleaned3 = sea_level_rise_cleaned2[["Year", "CSIRO - Adjusted sea level (inches)"]]
sea_level_rise_final_df = sea_level_rise_cleaned3.set_index('Year')
sea_level_rise_final_df

     CSIRO - Adjusted sea level (inches)
Year
1980                                5.60
1981                                6.09
1982                                5.86
1983                                6.19
1984                                6.15
1985                                5.75
1986                                5.77
1987                                5.80
1988                                5.98
1989                                6.16
1990                                6.23
1991                                6.33
1992                                6.36
1993                                6.29
1994                                6.50
1995                                6.62
1996                                6.79
1997                                7.07
1998                                6.67
1999                                7.01
2000                                7.06
2001                                7.29
2002                                7.38
2003                                7.76
2004                                7.74
2005                                7.74
2006                                7.92
2007                                8.00
2008                                8.35
2009                                8.59
2010                                8.90
2011                                8.96
2012                                9.33
2013                                8.98

In [20]:
#Sea Level Rise Info

NameError: name 'average_temp_by_year' is not defined