In [2]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json

In [3]:
#load resource file
natural_disaster_file = "Resources/state_disasters.csv"

#Read file and store it in a data frame
disaster_data_df = pd.read_csv(natural_disaster_file)

#print first five lines to make sure it worked
#disaster_data_df.head()

In [4]:
disaster_count_df = disaster_data_df[["Year","State","Drought Count","Flooding Count", "Freeze Count",
                                    "Severe Storm Count", "Tropical Cyclone Count", "Wildfire Count",
                                    "Winter Storm Count", "All Disasters Count"]]
disaster_count_df.head()

,Year,State,Drought Count,Flooding Count,Freeze Count,Severe Storm Count,Tropical Cyclone Count,Wildfire Count,Winter Storm Count,All Disasters Count
0,1980,AL,1,0,0,0,0,0,0,1
1,1981,AL,0,0,0,1,0,0,0,1
2,1982,AL,0,0,0,1,0,0,1,2
3,1983,AL,1,1,1,0,0,0,0,3
4,1984,AL,0,0,0,0,0,0,0,0

In [8]:
disaster_group = disaster_count_df.groupby("Year")

#get the sum of all disasters by year
disasters_total = disaster_group["All Disasters Count"].sum()

#get the sum of each disaster by year
droughts_total = disaster_group["Drought Count"].sum()
floods_total = disaster_group["Flooding Count"].sum()
freeze_total = disaster_group["Freeze Count"].sum()
severestorm_total = disaster_group["Severe Storm Count"].sum()
cyclone_total = disaster_group["Tropical Cyclone Count"].sum()
wildfire_total = disaster_group["Wildfire Count"].sum()
winter_storm_total = disaster_group["Winter Storm Count"].sum()

#create a df of disasters by year
yearly_disaster_df = pd.DataFrame({"Total Disasters":disasters_total,
                                  "Droughts":droughts_total,
                                  "Floods":floods_total,
                                  "Freezes":freeze_total,
                                  "Severe Storms":severestorm_total,
                                  "Cyclones":cyclone_total,
                                  "Wildfires":wildfire_total,
                                  "Winter Storms":winter_storm_total})
yearly_disaster_df

,Total Disasters,Droughts,Floods,Freezes,Severe Storms,Cyclones,Wildfires,Winter Storms
Year,,,,,,,,
1980,25,20,3,0,0,2,0,0
1981,6,0,0,1,5,0,0,0
1982,66,0,0,0,32,0,0,34
1983,64,11,12,40,0,1,0,0
1984,17,0,0,0,17,0,0,0
1985,54,0,4,1,0,21,0,28
1986,14,9,0,0,5,0,0,0
1987,0,0,0,0,0,0,0,0
1988,24,24,0,0,0,0,0,0
1989,47,11,0,1,8,3,0,24
1990,6,0,4,1,1,0,0,0
1991,32,11,0,0,14,6,1,0
1992,31,0,0,0,18,3,0,10
1993,49,8,9,0,7,0,1,24
1994,64,0,1,0,11,3,9,40
1995,32,16,1,0,6,9,0,0
1996,34,5,4,0,0,7,0,18
1997,26,0,8,0,18,0,0,0
1998,53,12,1,1,26,9,0,4
1999,90,16,0,0,18,13,0,43
2000,33,19,1,0,0,0,6,7
2001,21,0,0,0,15,6,0,0
2002,73,33,0,0,24,6,10,0
2003,85,19,0,0,49,8,9,0
2004,46,0,0,0,12,34,0,0
2005,34,9,0,0,7,18,0,0
2006,69,19,6,0,28,0,16,0
2007,75,27,0,19,18,0,11,0
2008,111,25,9,0,47,16,14,0
2009,64,10,0,0,47,0,7,0
2010,32,0,10,0,22,0,0,0
2011,166,25,13,0,87,21,10,10
2012,100,34,0,0,34,17,15,0
2013,55,21,4,0,30,0,0,0
2014,71,12,3,0,39,0,0,17
2015,107,8,14,0,56,0,10,19
2016,94,14,9,0,55,5,11,0
2017,104,3,13,9,60,11,8,0
2018,129,11,0,0,75,11,8,24
2019,88,0,24,0,55,7,2,0
2020,206,14,0,0,138,43,11,0